.btn {
    position: relative;
    left: 300px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
    padding: 20px 30px;
    display: inline-flex;
    align-items: center;
}

.scoreboard {
    position: relative;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.score {
    width: 200px;
    text-align: center;
}
